<!doctype html>

<html>
  <head>
    {% block head %}
    <script src="/static/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %} - ACI Quick Tasks</title>
    {% endblock %}
  </head>



  <!--<img src="/static/apic.jpg"><h1>Webarya</h1>-->
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>