{% extends "base_layout.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<html>
<body>
<div class="container">
     <h1>WebArya</h1>
    <p class="lead">
        Convert XML/JSON to Python Code!!!!
    </p>
</div>

<br>

<div class="container">
  <div class="center-block">
     <form action="" method="POST" name="data">
        {{form.data(cols='120',rows='30')|safe}}
        <br><button type="submit" class="btn btn-primary btn-lg">Submit</button>
     </form>
  </div>
</div>




</body>
</html>
{% endblock %}